@import "tailwindcss";

:root {
  --main: #ff4500;
  --light: #fffdfa;
  --dark: #111;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
}

* {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 300;
}

.logo {
  font-family: var(--font-caveat), cursive;
}

.transitioning {
  transition: all 0.5s ;
}

.text-main {
  color: var(--main);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-grey-1 {
  color: var(--grey-1);
}

.text-grey-2 {
  color: var(--grey-2);
}

.text-grey-3 {
  color: var(--grey-3);
}

.text-grey-4 {
  color: var(--grey-4);
}

.bg-main {
  background-color: var(--main);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-grey-3 {
  background-color: var(--grey-3);
}

.bg-grey-4 {
  background-color: var(--grey-4);
}

.border-main {
  border-color: var(--main);
}

.border-light {
  border-color: var(--light);
}

.border-dark {
  border-color: var(--dark);
}

.border-grey-1 {
  border-color: var(--grey-1);
}

.border-grey-2 {
  border-color: var(--grey-2);
}

.border-grey-3 {
  border-color: var(--grey-3);
}

.border-grey-4 {
  border-color: var(--grey-4);
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.btn:hover {
  opacity: 0.9;
}

.btn.transitioning {
  transition: all 0.5s;
}

.btn-main {
  background-color: var(--main);
  color: var(--light);
}

.btn-main:hover {
  background-color: #e03e00; /* slightly darker */
}

.btn-dark {
  background-color: var(--dark);
  color: var(--light);
}

.btn-dark:hover {
  background-color: #000;
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-light:hover {
  background-color: #f7f3e8;
}

.btn-grey {
  background-color: var(--grey-2);
  color: var(--dark);
}

.btn-grey:hover {
  background-color: var(--grey-1);
}

.btn-main-outline {
  background-color: transparent;
  border: 2px solid var(--main);
  color: var(--main);
}

.btn-main-outline:hover {
  background-color: var(--main);
  color: var(--light);
}

.btn-dark-outline {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
}

.btn-dark-outline:hover {
  background-color: var(--dark);
  color: var(--light);
}

.btn-light-outline {
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--light);
}

.btn-light-outline:hover {
  background-color: var(--light);
  color: var(--dark);
}

.btn-grey-outline {
  background-color: transparent;
  border: 2px solid var(--grey-2);
  color: var(--grey-2);
}

.btn-grey-outline:hover {
  background-color: var(--grey-2);
  color: var(--light);
}

